/* HTML5 Resets and Styles 
-------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
.hidden {
  position: absolute; left: -100%;
}

/* General Styles 
-------------------------------- */
body {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #fff;
  margin: 10px 8px 8px;

/* prevents text resizing when phone is turned */
  -webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
h1 {
  font-size: 1.6em;
  margin-bottom: 0;
}
h2 {
  font-size: 1.4em;
  margin-bottom: 0;
}
h3 {
  font-size: 1.2em;
  margin-bottom: 0;
}
p {
  text-align:left;
  color: #000;      
  line-height: 1.4em;
  margin: 1em 0;
}
a {
  color: #095c8e;
}
ul {
  font-size: 15px;
  line-height: 1.4em;
  margin: 0;
  padding: 0 0 0 1.5em;
}
li {
  padding: 0;
}
dd {
  margin: 0;
  padding: 0;
}
span {
  padding: 0;
  margin: 0;
}
span.sponsor {
  font-style: italic;
}

/* About page 
-------------------------------- */
body.about {
/*   background: url('tower.png') no-repeat top right; */
  padding-top: 10px; */
  margin: 0 20px 10px;  
}
.about h1,
.about h2 {
  color: #dc5531;
  text-align: left;
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: 0.1px;
  margin-right:10px;
}
.about section {
  
  margin-bottom: 20px;
  padding-bottom: 5px;
  margin-right:10px;
}
.about section.last {
  border-bottom:none;
  margin-bottom: 20px;
  padding-bottom: 0;
}
.about p {
  margin: 0.6em 0;
}

/* Monday page 
-------------------------------- */

body.day {
  padding: 0;
  margin: 0;
}
dt {
  background: url('timebreak_gray@2x.png') top center repeat-x;
  height: 23px;
  color: #fff;
  padding: 2px 0 0 10px;
  font-size: 16px;
  text-shadow: 0 1px 1px #444;
  font-weight: bold;
}
dd {
  margin: 5px 10px;
}
.day h2 {
  margin-top: 13px;
  font-size: 18px;
}
.day p.first {
  margin-top: 0.5em;
}


/* Tuesday page 
-------------------------------- */


/* Registration page 
-------------------------------- */
body.registration {
  padding: 0;
  margin: 0;
}
.registration p,
.registration ul {
  margin-left:15px;
  margin-right: 15px;
}
.registration h2 {
  color: #C0EAFB;
  text-align: center;
  padding: 0.3em 0 0.2em;
  background: url('gear.png') top center;
  font-size: 180%;
}

/* BoFs page 
-------------------------------- */
body.bofs {
  padding: 0;
  margin: 0;
}
.bofs p,
.bofs ul {
  margin-left:15px;
  margin-right: 15px;
}
.bofs h2 {
  color: #C0EAFB;
  text-align: center;
  padding: 0.3em 0 0.2em;
  background: url('gear.png') top center;
  font-size: 180%;
}

/* Legend page 
-------------------------------- */
.legend div {
  padding-top: 1px;
}
.legend h2 {
  padding: 15px 10px 0px;
  margin: -12px 0 -5px 28px;
  font-size: 16px;
}
.legend img {
  height: 21px;
  width: 21px;
  float: left;
  padding-left: 5px;
}
.legend p {
  padding: 0 5px;
}
.coreconv {
  color: #3176bd; 
}
.daystage { 
  color: #ab7d66; 
}
.dmb { 
  color: #269477; 
}
.coder { 
  color: #e76828; 
}
.config { 
  color: #f0b539; 
}
.community { 
  color: #7fbfea; 
}
.theming { 
  color: #e5393e; 
}
.business { 
  color: #85a951; 
}
.uxdesign { 
  color: #dd3793; 
}

/* Exhbitors page
-------------------------------- */
body.exhibitors {
  margin-top: 0;
}
.exhibitors div { 
  text-align:left;
  color: #000;
  font-size: 12px;
  padding: 10px;
  margin-right:10px;
  border-bottom: 1px solid #bbb;
}
.exhibitors span { 
  float: right; 
}
